<div id="<%= dom_id trip %>">
  <p>
    <strong>Coordinator:</strong>
    <%= trip.coordinator %>
  </p>

  <p>
    <strong>Price per passanger:</strong>
    <%= trip.price_per_passanger %>
  </p>

  <p>
    <strong>Number of passengers:</strong>
    <%= trip.number_of_passengers %>
  </p>

  <p>
    <strong>User:</strong>
    <%= trip.user_id %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= trip.vehicle_id %>
  </p>

</div>
