<div id="<%= dom_id model %>">
  <p>
    <strong>Plate:</strong>
    <%= model.plate %>
  </p>

  <p>
    <strong>Number of seats:</strong>
    <%= model.number_of_seats %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= model.created_by %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= model.is_active %>
  </p>

  <p>
    <strong>Is deleted:</strong>
    <%= model.is_deleted %>
  </p>

  <p>
    <strong>User:</strong>
    <%= model.user_id %>
  </p>

</div>
