<%= render 'home/navbar' %>
<div class="indexHomeContainer">
  <div id="hero">
   <%= render 'hero'%>
  </div>
  <div id="services" style="outline: none">
   <%= render 'services'%>
  </div>
  <div id="whyus" style="outline: none">
   <%= render 'whyus'%>
  </div>
  <div id="members" style="outline: none">
   <%= render 'members'%>
  </div>
</div>
<%= render 'home/footer' %>


