<div id="<%= dom_id sacco %>">
  <p>
    <strong>Name:</strong>
    <%= sacco.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= sacco.email %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= sacco.created_by %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= sacco.phone %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= sacco.is_active %>
  </p>

  <p>
    <strong>Is deleted:</strong>
    <%= sacco.is_deleted %>
  </p>

</div>
