<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Plate:</strong>
    <%= vehicle.plate %>
  </p>

  <p>
    <strong>Number of seats:</strong>
    <%= vehicle.number_of_seats %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= vehicle.created_by %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= vehicle.is_active %>
  </p>

  <p>
    <strong>Is deleted:</strong>
    <%= vehicle.is_deleted %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vehicle.user_id %>
  </p>

</div>
