<div id="<%= dom_id expence %>">
  <p>
    <strong>Amount:</strong>
    <%= expence.amount %>
  </p>

  <p>
    <strong>Approved by:</strong>
    <%= expence.approved_by %>
  </p>

  <p>
    <strong>Approval status:</strong>
    <%= expence.approval_status %>
  </p>

  <p>
    <strong>Issue:</strong>
    <%= expence.issue_id %>
  </p>

</div>
